.mark {

background-color:  	 #ffffff;

opacity: 0.70;

}

.select {

font-family: Helvetica;

font-size: 17px;

color: 	#000000;

font-weight: bold;
/*
text-transform: uppercase;
*/
}

.select1 {

font-family: Helvetica;

font-size: 17px;

color: 	#ffffff;

font-weight: bold;
/*
text-transform: uppercase;
*/
}

.con {

	background-color:#e60000;

    margin-top: 30px;

    font-size: 15px;

}

.toolbar-background {
background-color: #e52325;
text-align: center;

}
